* {
  margin: 0;
  padding: 0;
}

.main-grid {
	display: grid;
	grid-template-columns: 1% 10% 2% 74% 13%; /* Previously I used vw instead of % - but that led to a horizontal scrollbar upon zoom >= 120% */
	grid-template-rows: 1vh 98vh 1vh;
}

.main-upper-border {
	grid-column: 1 / -1;
}
.main-lower-border {
	
}
.main-left-border {
	
}
.main-right-border {
	grid-column: 1 / -1;
}

.navigation {
	text-align: right;
	overflow-wrap: break-word;
}

.vertical-split-bar {
	/* background:#eee; */
}

.content {
	display: grid;
	gap: 1rem;
/* 	background:#eee; */
	/* grid-auto-rows: min-content; */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: min-content;
}
